.row {
  display: flex;
  flex-wrap: wrap;
  margin: 100px;
  color: var(--white);
}

.column {
  flex-basis: 23%;
  margin: 5px;
  height: 100%;
  font-size: 12px;
}

.card {
  margin-bottom: 12px;
  background-color: #474A51;
}

.Icons {
  display: flex;
  justify-content: space-between;
  color: #7C7E83;
}

.Icon {
  margin-top: 3px;
  margin-right: 4px;
}